# Base de données
DATABASE_URL="postgresql://user:Tialagnon@72@localhost:5432/langues_ivoire"

# JWT
JWT_SECRET="votre_secret_jwt_tres_long_et_securise"
JWT_EXPIRES_IN="24h"
JWT_REFRESH_EXPIRES_IN="7d"

# Serveur
PORT=3000
NODE_ENV=development

# Redis
REDIS_URL="redis://localhost:6379"

# Cloudinary (stockage fichiers)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# API Keys internes
API_KEY_PREFIX="ivc_"

# CORS
ALLOWED_ORIGINS="http://localhost:3001,http://localhost:19006"
